@import "../cta.scss";

.card-categories{
    box-shadow: $shadow;
    padding: 1.4rem 2.2rem;
    transition: $transition-fast $ease-in-out;
    .image{
        .img{
            width: 20rem;
        }
    }
    &:hover{
        transform: scale(1.05);
    }
}

@media screen and (max-width:1080px) {
    .card-categories{
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .card-categories{
        &:hover{
            transform: scale(1.01);
        }
    }
}
@media screen and (max-width:375px) {
    .card-categories{
        .image{
            .img{
                width: 20rem;
            }
        }
    }
}